/resources/public/js/compiled/**
/resources/public/css/compiled/**
/src/app/kid_game/react_components/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
log
.rebel_readline_history
node_modules
.shadow-cljs/*
.cpcache/*
.lsp/*
.calva/
.clj-kondo/
