
:root { --color-black: #222;
        --color-grey: #ddd;
        --color-grey-dark: #666;
        --color-grey-light: #eee;
        --color-green: teal;
        --color-blue: blue;
        --color-blue-light: lightblue;
        --color-orange: orange;
        --color-red: red;
        --color-white: #fefefe;
        --color-timeline-primary: var(--color-green);
        --color-timeline-secondary: var(--color-blue-light);
        --color-hub-primary: var(--color-orange);
        --color-hub-secondary: var(--color-blue-light);

        --spacing: 1rem;
        --spacing-half: .5rem;
        --spacing-double: 2rem;
        --spacing-quadruple: 4rem; }

/* some style */
html { font-size: 14px; }

body { margin: 0px;
       padding: 0px;
       font-family: "Sans" }

.game-container { display: flex;
                  overflow: hidden; }

.game-panel { transition: width .4s ease-in-out,
                          box-shadow .4s ease-in-out,
                          filter .4s ease-in-out;
              filter: blur(1px)
                      brightness(.8);
              overflow-x: hidden; }
.game-panel.active { box-shadow: 5px 5px 30px 10px rgba(0,0,0,.3);
                     filter: blur(0px)
                             brightness(1);}

.game-timeline { background: var(--color-grey-light);
                height: 100vh;
                overflow-y: scroll; }
.game-verification-hub { heigh: 100vh;
                         background: var(--color-white);
                         overflow-y: scroll;}

.game-timeline { width: 33vw;
                 z-index: 1;
                 position: relative; }
.game-timeline.active { width: 66vw;
                        z-index: 2; }
.game-timeline-inner { min-width: 66vw; }

.game-verification-hub { width: 33vw;
                         z-index: 1;
                         position: relative; }
.game-verification-hub.active { width: 66vw;
                                z-index: 2; }
.game-verification-hub-inner { min-width: 66vw; }


.panel-header { width: 100%;
                padding: var(--spacing);
                z-index: 7;
                position: sticky;
                top: 0rem; }
.timeline-header { background-color: var(--color-timeline-primary);}
.verification-hub-header { background-color: var(--color-hub-primary);}


.post.inactive { }

.history { grid-area: history;
           background-color: var(--color-white);
           max-height: calc(100vh-200px);
           overflow-y: hidden;
           padding-top: var(--spacing-double); }

.text-input { grid-area: text-input;
              background-color: var(--color-grey-light);
              width: 100%; }

.login-container { display: grid;
                   width: 100vw;
                   height: 100vh;
                   grid-template-rows: 1fr 1fr 1fr;
                   grid-template-columns: 1fr 1fr 1fr;
                   grid-template-areas: ". . ."
                                        ". login ."
                                        ". . ."; }

.login {
    grid-area: login;
    align-self: center;
    justify-self: center;
}

.post-in-list { max-width: 50rem;
                min-width: 35rem;
                margin: var(--spacing) auto;
                overflow-y: hidden; }

.post-transition-enter { transform:scaleY(0);
                         max-height: 0; }
.post-transition-enter-active { transform: scaleY(1);
                                max-height: 400rem;
                                transition-delay: 1s;
                                transition: all 1s ease-in; }
.post-transition-exit { opacity: 1; }
.post-transition-exit-active { opacity: 0;
                               transition: opacity 1s ease-in; }

.post { background-color: var(--color-white);
        border-top: 3px solid var(--color-grey);
        position: relative;}
.post-inner { display: flex;
              flex-direction: row;
               }
.post-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    backdrop-filter: blur(1px)
                     brightness(.9);
}
.post-overlay-inner {
    color: white;
    font-size: 2rem;
    padding: var(--spacing-double);
}
.overlay-message.success {
    background-color: var(--color-green);
}
.overlay-message.failure {
    background-color: var(--color-red);
}

.post-left-column { width: var(--spacing-quadruple);
                    padding: var(--spacing); }
.post-right-column { padding: var(--spacing)
                              var(--spacing)
                              var(--spacing)
                              0rem;  }

.post-author-image { width: var(--spacing-quadruple);
                     height: var(--spacing-quadruple);
                     border-radius: var(--spacing-double);
                     overflow: hidden;
                     background-color: var(--color-grey); }
.post-author-image img { width: var(--spacing-quadruple);
                         height: var(--spacing-quadruple); }
.post-image { width: 100%;
              border-radius: var(--spacing);
              margin-top: var(--spacing);
              margin-bottom: var(--spacing); }
.post-description { margin-top: var(--spacing); }

.post-author-name .name { font-weight: bold; }
.post-author-name .handle { color: var(--color-grey);
                            padding-left: var(--spacing); }





.progress-bar { width: 100%;
                background-image: linear-gradient(to right, red, lime);
                height: var(--spacing-half);
                position:relative; }
.progress-inner { background-color: rgba(255,255,255,.9);
                height: var(--spacing-half);
                position: absolute;
                right: 0;
                   }
.progress-inner[percent] {
    top: attr(percent);
}



.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat .messages {
    flex: 1;
    padding-top: var(--spacing);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    overflow-y: scroll;
}
.chat .input {
    position: relative;
}
.chat .input .send-button {
    position: absolute;
    right: 0;
    padding-left: var(--spacing-half);
    padding-right: var(--spacing-half);
    background: var(--color-blue-light);
}

.chat-select {
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(255,255,255,.5);
    margin: var(--spacing);
    padding: var(--spacing);
    cursor: pointer;
    position: relative;
}

.chat-select.chat-unseen:after { border: 1px solid red;
                                 content: "!";
                                 border-radius: var(--spacing-half);
                                 width: var(--spacing);
                                 height: var(--spacing);
                                 position: absolute;
                                 background: red;
                                 left: 0;
                                 top: 0;
                                 font-size: var(--spacing);
                                 text-align: center;
                                 line-height: 1;
                                 color: white; }
.chat-select.selected { background-color: lightblue; }
.chat-title { font-weight: bold; }
.latest-message { opacity: .4; }

.notifications { position: fixed;
                 z-index: 466;
                 top: 0; }
.notification { background-color: white;
                border: 6px solid var(--color-orange);
                padding: var(--spacing);
                margin: var(--spacing-half); }

.notification.info { border: 6px solid var(--color-green); }
.notification.warning { border: 6px solid var(--color-red); }

.notification-transition-enter { transform:scaleY(0);
                                 max-height: 0; }
.notification-transition-enter-done { transform: scaleY(1);
                                        max-height: 400rem;
                                        transition-delay: 1s;
                                        transition: all 1s ease-in; }
.notification-transition-exit { opacity: 1; }
.notification-transition-exit-done { opacity: 0;
                                       transition: opacity 1s ease-in; }



button { background-color: transparent;
         border: 2px solid var(--color-blue);
         color: var(--color-blue);
         padding: var(--spacing-half) var(--spacing);
         border-radius: var(--spacing);
         cursor: pointer; }

.hub-post { background-color: var(--color-grey); }
.hub-post > .post { transform: scale(.5)
                               translate(-25%,-25%); }



.activity-container { padding: var(--spacing); }

.ris-image-results { overflow: hidden;}
.ris-image-result { height: 10rem;
                    float: left;
                    margin-right: var(--spacing-half);
                    margin-bottom: var(--spacing-half); }
.ris-image-result img { height: 100%; width: auto; }

.ris-image-dragger-image { border-radius: var(--spacing); }
.ris-image-dragger-image img { width: 100%; border-radius: var(--spacing); }
.drag-target { border: 3px dashed var(--color-grey);
               width: 100%;
               height: 100%;
               border-radius: var(--spacing);
               display: flex;
               justify-content: center;
               align-items: center; }


.ris-results-transition-enter { transform:scaleY(0);
                                 max-height: 0; }
.ris-results-transition-enter-done { transform: scaleY(1);
                                        max-height: 400rem;
                                        transition: all 1s ease-in; }
.ris-results-transition-exit { opacity: 1; }
.ris-results-transition-exit-done { opacity: 0;
                                       transition: opacity 1s ease-in; }

.ris-drag-blocks { display: flex; flex-basis: 0; }
.ris-drag-block { width: 33%; }
.ris-drag-block-center { display: flex; align-items: center; justify-content: center; }


.ris-search-result { margin-top: var(--spacing); }
.ris-search-result-url { color: var(--color-grey-dark);
                         font-size: .8rem; }
.ris-search-result-title { color: var(--color-blue);
                           font-size: 1.2rem;
                           padding-bottom: var(--spacing-half)}
.ris-search-result-columns { display: flex; }
.ris-search-result-image { width: 20%;
                           padding-right: var(--spacing); }
.ris-search-result-image img {width: 100%;
                              border-radius: var(--spacing-half);}
.ris-search-result-details { display: inline; color: var(--color-grey-dark); margin-right: var(--spacing); }
.ris-search-result-text { display: inline; }





.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color-grey);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-grey) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.activity-container { max-width: 60rem;
                      margin: 0 auto; }


.testing-purposes { color: #eee; }





.comment {}
.comment-inner { display: flex;
                 margin-top: var(--spacing); }
.comment-inner-left { padding-right: var(--spacing); }
.comment .post-author-image, .comment .post-author-image img { width: var(--spacing-double);
                                                               height: var(--spacing-double); }
.comment-author { font-weight: bold; }
