@import './node_modules/bulma/bulma.sass';
@import './node_modules/font-awesome/scss/font-awesome.scss';

:root { --color-black: #222;
        --color-grey: #e2e1e1;
        --color-grey-dark: #666;
        --color-grey-light: #f7f7f7;

        --color-green: #51aa1b;
        --color-green-light: lightgreen;

        --color-teal: #20a99f;
        --color-teal-light: #d1eeec;

        --color-blue: #1f77a9;
        --color-blue-light: lightblue;

        --color-orange: orange;
        --color-red: #d04812;
        --color-white: #fefefe;

        --color-timeline-primary: var(--color-blue);
        --color-timeline-secondary: var(--color-blue-light);

        --color-hub-primary: var(--color-teal);
        --color-hub-secondary: var(--color-teal-light);

        --spacing: 1rem;
        --spacing-half: .5rem;
        --spacing-double: 2rem;
        --spacing-quadruple: 4rem; }

@mixin padded-box {
  padding: var(--spacing);
}

@mixin inverted-hub {
  background-color: var(--color-hub-primary);
  color: var(--color-white);
}

@mixin big-text {
  font-size: 4rem;
}

.scores {
  @include inverted-hub;
  @include padded-box;
  @include big-text;
}

.stats {
  .stat {
    padding: var(--spacing);
  }
}


/* BULMA OVERRIDES */
.column {
  /* don't see why we should assume padding wanted */
  /* especially when lot's of things are flat and full width */
  padding: 0;
}


/* Other styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
}

#app {
    // width: 100%;
    &.container {
	max-width: 100%;
    }
}

.icon {
    @extend .fa;
    display: flex;
    justify-content: center;
    align-items: center; 
    i { font-style: normal;}
}

.game-panel {
    transition: width .4s ease-in-out,
                box-shadow .4s ease-in-out,
                filter .4s ease-in-out;
    filter: // blur(1px)
            brightness(.8);
    overflow-x: hidden;
    &.active {
	box-shadow: 5px 5px 30px 10px rgba(0,0,0,.2);
	z-index: 1;
        filter: brightness(1);
    }
}

.game-panel > * { width: 66vw; }

.game-timeline,
.game-verification-hub {
    height: 100vh;
    overflow-y: scroll; 
}
.game-timeline         { background: var(--color-grey-light); }
.game-verification-hub { background: var(--color-white); }

.panel-header { width: 100%;
                padding: var(--spacing);
                z-index: 7;
                position: sticky;
                top: 0rem;
		h5 { color: var(--color-white); }}
.timeline-header         { background-color: var(--color-timeline-primary);}
.verification-hub-header { @include inverted-hub; }

.history { grid-area: history;
           background-color: var(--color-white);
           max-height: calc(100vh-200px);
           overflow-y: hidden;
           padding-top: var(--spacing-double); }

.text-input { grid-area: text-input;
              background-color: var(--color-grey-light);
              width: 100%; }

.post-transition-enter { max-height: 0;
                         opacity: 0; }
.post-transition-enter-active { max-height: 400rem;
                                opacity: 1;
                                transition-delay: 0.7s;
                                transition: all 0.5s ease-in; }
.post-transition-exit { opacity: 1; }
.post-transition-exit-active { opacity: 0;
                               transition: opacity 0.5s ease-in; }

.modal {
  .modal-background {
    background-color: rgba(10, 10, 10, 0.16) !important;
  }
  .modal-card-body {
    padding: 4rem 0;
    border-radius: 6px;
  }
}

.post {
    width: 35rem;
    /* constrain post size either to screen (mobile) or to parent container */
    max-width: calc(min(100vw, 100%));
    min-width: 35rem;

    margin: var(--spacing) auto;
    border-top: 8px solid var(--color-timeline-primary);
    background-color: var(--color-white);
    padding: var(--spacing);
    .infocolumn {
      flex: 1;
      overflow: hidden;
    }

    .author-image {
      margin: var(--spacing-half);
	    width: var(--spacing-quadruple);
	    height: var(--spacing-quadruple);
      border-radius: var(--spacing-double);
      overflow: hidden;
      background-color: #e6e6e6; 
      img {
        width: var(--spacing-quadruple);
      }
    }
    .author {
	    .name { margin-top: -30px; }
    }
    img.post-media { 
    	border-radius: var(--spacing-half);
    }
}

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat .messages {
    flex: 1;
    padding-top: var(--spacing);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    overflow-y: scroll;
}
.chat .input {
    position: relative;
}
.chat .input .send-button {
    position: absolute;
    right: 0;
    padding-left: var(--spacing-half);
    padding-right: var(--spacing-half);
    background: var(--color-blue-light);
}

.chat-select {
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(255,255,255,.5);
    margin: var(--spacing);
    padding: var(--spacing);
    cursor: pointer;
    position: relative;
}

.chat-select.chat-unseen:after { border: 1px solid red;
                                 content: "!";
                                 border-radius: var(--spacing-half);
                                 width: var(--spacing);
                                 height: var(--spacing);
                                 position: absolute;
                                 background: red;
                                 left: 0;
                                 top: 0;
                                 font-size: var(--spacing);
                                 text-align: center;
                                 line-height: 1;
                                 color: white; }
.chat-select.selected { background-color: lightblue; }
.chat-title { font-weight: bold; }
.latest-message { opacity: .4; }

.notifications {
  position: fixed;
  z-index: 466;
  top: 1rem;
  left: 1rem;
}
.card {
  margin: 1rem 0;
  &.notification { max-width: 250px; padding: 0; }
}

.notification-transition-enter { max-height: 0;
                                 opacity: 0; }
.notification-transition-enter-done { max-height: 400rem;
                                      opacity: 1;
                                      transition-delay: 0.3s;
                                      transition: all 0.2s ease-in; }
.notification-transition-exit { opacity: 1; }
.notification-transition-exit-done { opacity: 0;
                                       transition: opacity 1s ease-in; }

button { background-color: transparent;
         border: 2px solid var(--color-blue);
         color: var(--color-blue);
         padding: var(--spacing-half) var(--spacing);
         border-radius: var(--spacing);
         cursor: pointer; }

.hub-post { background-color: var(--color-grey); }
.hub-post > .post { transform: scale(.5)
                               translate(-25%,-25%); }



.activity-container {
  max-width: 100%;
  width: 35rem;
  .activity-actions {
    background-color: var(--color-hub-primary);
      button {
         margin-top: var(--spacing-half);
      }
  }
  .blooble-simulation {
    margin: var(--spacing-double);
  }
}

.ris-image-dragger {
  margin: var(--spacing-double);
}

.blooble-simulation {
  padding: var(--spacing);
    position: relative;
    border: 2px solid transparent;
    border-radius: var(--spacing);
    background: linear-gradient(#fefefe, var(--color-white));
    background-clip: padding-box;
    box-shadow: 0 3px 9px rgba(0,0,0,.1);
    // this after accomplishes the border gradient, and relies on background clip from above
    &::after {
      position: absolute;
      top: -2px; bottom: -2px;
      left: -2px; right: -2px;
      background: linear-gradient(var(--color-grey), var(--color-white));
      content: '';
      z-index: -1;
      border-radius: 16px;
    }
    .blooble-logo {
      max-width: 15rem;
      margin: 0 auto;
      margin-top: var(--spacing-double);
      margin-bottom: var(--spacing);
    }
    .results {
      padding: var(--spacing-double);
    }
}

.ris-image-results { overflow: hidden;}
.ris-image-result { height: 10rem;
                    float: left;
                    margin-right: var(--spacing-half);
                    margin-bottom: var(--spacing-half); }
.ris-image-result img { height: 100%; width: auto; }

.ris-image-dragger-image img { border-radius: var(--spacing-half); }
.drag-target { 
  border: 3px dashed var(--color-grey);
  height: 100%;
  border-radius: var(--spacing-half);
}

.ris-results-transition-enter { opacity: 0; }
.ris-results-transition-enter-done { opacity: 1;
                                     transition: all .5s ease-in;
                                     margin: var(--spacing-double); }
.ris-results-transition-exit { opacity: 1; }
.ris-results-transition-exit-done { opacity: 0;
                                    transition: opacity 1s ease-in; }

.ris-drag-blocks { display: flex; flex-basis: 0; }
.ris-drag-block { width: 33%; }
.ris-drag-block-center { display: flex; align-items: center; justify-content: center; }


.ris-search-result { margin-top: var(--spacing); }
.ris-search-result-url { color: var(--color-grey-dark);
                         font-size: .8rem; }
.ris-search-result-title { color: var(--color-blue);
                           font-size: 1.2rem;
                           padding-bottom: var(--spacing-half)}
.ris-search-result-columns { display: flex; }
.ris-search-result-image { width: 20%;
                           padding-right: var(--spacing); }
.ris-search-result-image img {width: 100%;
                              border-radius: var(--spacing-half);}
.ris-search-result-details { display: inline; color: var(--color-grey-dark); margin-right: var(--spacing); }
.ris-search-result-text { display: inline; }





.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color-grey);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-grey) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.activity-container { max-width: 60rem;
                      margin: 0 auto;
                      }




.comment {}
.comment-inner { display: flex;
                 margin-top: var(--spacing); }
.comment-inner-left { padding-right: var(--spacing); }
.comment .post-author-image, .comment .post-author-image img { width: var(--spacing-double);
                                                               height: var(--spacing-double); }
.comment-author { font-weight: bold; }




.cropper {
  .chosen-region {
    fill: yellow;
    opacity: .1;
  }
  .drag-region {
    fill: yellow;
    opacity: .3;
  }
  .hit-box {
    path {
      fill: transparent;
      stroke: lime;
      stroke-width: 2;
    }
  }
}

.devbutton {
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  left: 0;
}

.image-analysis {
  .polygon { fill: transparent;
             stroke: yellow;
             stroke-width: 4;}

}



.br-1 {
  border-radius: var(--spacing-half);
}
.br-2 {
  border-radius: var(--spacing);
}
.br-3 {
  border-radius: var(--spacing-double);
}

.has-border-teal {
  border: 2px solid var(--color-teal);
}

.hub-icon {
  @extend .column;
  @extend .p-4;
  @extend .m-2;
  @extend .has-border-teal;
  @extend .br-1;
  svg { height: 100px; }
  &:hover{
    background-color: var(--color-teal-light);
  }
}


// .verification-hub {
//   .icons {
//     @columns
//     .icon {
//       @column
//       @p4
//       @m2
//       &.active {
//         color: red;
//       }
//     }
//   }
// }

// .sidebar {
//   .icons {
//     @level
//     .icon {
//       @level-item
//     }
//   }
// }
//

