@import './node_modules/bulma/bulma.sass';
@import './node_modules/font-awesome/scss/font-awesome.scss';

:root { --color-black: #222;
        --color-grey: #e2e1e1;
        --color-grey-dark: #666;
        --color-grey-light: #f7f7f7;
        --color-green: teal;
        --color-blue: blue;
        --color-blue-light: lightblue;
        --color-orange: orange;
        --color-red: red;
        --color-white: #fefefe;
        --color-timeline-primary: var(--color-green);
        --color-timeline-secondary: var(--color-blue-light);
        --color-hub-primary: var(--color-orange);
        --color-hub-secondary: var(--color-blue-light);

        --spacing: 1rem;
        --spacing-half: .5rem;
        --spacing-double: 2rem;
        --spacing-quadruple: 4rem; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.icon {
    @extend .fa;
    display: flex;
    justify-content: center;
    align-items: center; 
    i { font-style: normal;}
}

.game-panel {
    transition: width .4s ease-in-out,
                box-shadow .4s ease-in-out,
                filter .4s ease-in-out;
    filter: blur(1px)
            brightness(.8);
    overflow-x: hidden;
    &.active {
	 box-shadow: 5px 5px 30px 10px rgba(0,0,0,.2);
         filter: blur(0px)
                 brightness(1);
    }
}

.game-timeline,
.game-verification-hub {
    height: 100vh;
    overflow-y: scroll; 
}
.game-timeline         { background: var(--color-grey-light); }
.game-verification-hub { background: var(--color-white); }

.panel-header { width: 100%;
                padding: var(--spacing);
                z-index: 7;
                position: sticky;
                top: 0rem;
		h5 { color: var(--color-white); }}
.timeline-header         { background-color: var(--color-timeline-primary);}
.verification-hub-header { background-color: var(--color-hub-primary);}

.history { grid-area: history;
           background-color: var(--color-white);
           max-height: calc(100vh-200px);
           overflow-y: hidden;
           padding-top: var(--spacing-double); }

.text-input { grid-area: text-input;
              background-color: var(--color-grey-light);
              width: 100%; }

.post-transition-enter { max-height: 0;
                         opacity: 0; }
.post-transition-enter-active { max-height: 400rem;
                                opacity: 1;
                                transition-delay: 0.7s;
                                transition: all 0.5s ease-in; }
.post-transition-exit { opacity: 1; }
.post-transition-exit-active { opacity: 0;
                               transition: opacity 0.5s ease-in; }

.modal {
  .modal-background {
    background-color: rgba(10, 10, 10, 0.16) !important;
  }
  .modal-card-body {
    padding: 4rem 0;
    border-radius: 6px;
  }
}

.post {
    max-width: 50rem;
    min-width: 35rem;
    margin: var(--spacing) auto;
    border-top: 2px solid var(--color-grey);
    .author-image {
	    width: var(--spacing-quadruple);
	    height: var(--spacing-quadruple);
        border-radius: var(--spacing-double);
        overflow: hidden;
        background-color: #e6e6e6; 
        img {
	        width: var(--spacing-quadruple);
        }
    }
    .author {
	    .name { margin-top: -30px; }
    }
    img.post-media { 
    	border-radius: var(--spacing-half);
    }
}

.comment-handle { color: var(--color-grey-dark); font-weight: normal; }

.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat .messages {
    flex: 1;
    padding-top: var(--spacing);
    padding-left: var(--spacing);
    padding-right: var(--spacing);
    overflow-y: scroll;
}
.chat .input {
    position: relative;
}
.chat .input .send-button {
    position: absolute;
    right: 0;
    padding-left: var(--spacing-half);
    padding-right: var(--spacing-half);
    background: var(--color-blue-light);
}

.chat-select {
    border: 1px solid rgba(0,0,0,.3);
    background-color: rgba(255,255,255,.5);
    margin: var(--spacing);
    padding: var(--spacing);
    cursor: pointer;
    position: relative;
}

.chat-select.chat-unseen:after { border: 1px solid red;
                                 content: "!";
                                 border-radius: var(--spacing-half);
                                 width: var(--spacing);
                                 height: var(--spacing);
                                 position: absolute;
                                 background: red;
                                 left: 0;
                                 top: 0;
                                 font-size: var(--spacing);
                                 text-align: center;
                                 line-height: 1;
                                 color: white; }
.chat-select.selected { background-color: lightblue; }
.chat-title { font-weight: bold; }
.latest-message { opacity: .4; }

.notifications {
  position: fixed;
  z-index: 466;
  top: 1rem;
  left: 1rem;
  .card {
    margin: 1rem 0;
  }
}

.notification-transition-enter { max-height: 0;
                                 opacity: 0; }
.notification-transition-enter-done { max-height: 400rem;
                                      opacity: 1;
                                      transition-delay: 0.3s;
                                      transition: all 0.2s ease-in; }
.notification-transition-exit { opacity: 1; }
.notification-transition-exit-done { opacity: 0;
                                       transition: opacity 1s ease-in; }

button { background-color: transparent;
         border: 2px solid var(--color-blue);
         color: var(--color-blue);
         padding: var(--spacing-half) var(--spacing);
         border-radius: var(--spacing);
         cursor: pointer; }

.hub-post { background-color: var(--color-grey); }
.hub-post > .post { transform: scale(.5)
                               translate(-25%,-25%); }



.activity-container { padding: var(--spacing); }

.ris-image-results { overflow: hidden;}
.ris-image-result { height: 10rem;
                    float: left;
                    margin-right: var(--spacing-half);
                    margin-bottom: var(--spacing-half); }
.ris-image-result img { height: 100%; width: auto; }

.ris-image-dragger-image { border-radius: var(--spacing); }
.ris-image-dragger-image img { width: 100%; border-radius: var(--spacing); }
.drag-target { border: 3px dashed var(--color-grey);
               width: 100%;
               height: 100%;
               border-radius: var(--spacing);
               display: flex;
               justify-content: center;
               align-items: center; }


.ris-results-transition-enter { transform:scaleY(0);
                                 max-height: 0; }
.ris-results-transition-enter-done { transform: scaleY(1);
                                        max-height: 400rem;
                                        transition: all 1s ease-in; }
.ris-results-transition-exit { opacity: 1; }
.ris-results-transition-exit-done { opacity: 0;
                                       transition: opacity 1s ease-in; }

.ris-drag-blocks { display: flex; flex-basis: 0; }
.ris-drag-block { width: 33%; }
.ris-drag-block-center { display: flex; align-items: center; justify-content: center; }


.ris-search-result { margin-top: var(--spacing); }
.ris-search-result-url { color: var(--color-grey-dark);
                         font-size: .8rem; }
.ris-search-result-title { color: var(--color-blue);
                           font-size: 1.2rem;
                           padding-bottom: var(--spacing-half)}
.ris-search-result-columns { display: flex; }
.ris-search-result-image { width: 20%;
                           padding-right: var(--spacing); }
.ris-search-result-image img {width: 100%;
                              border-radius: var(--spacing-half);}
.ris-search-result-details { display: inline; color: var(--color-grey-dark); margin-right: var(--spacing); }
.ris-search-result-text { display: inline; }





.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color-grey);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-grey) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.activity-container { max-width: 60rem;
                      margin: 0 auto; }




.comment {}
.comment-inner { display: flex;
                 margin-top: var(--spacing); }
.comment-inner-left { padding-right: var(--spacing); }
.comment .post-author-image, .comment .post-author-image img { width: var(--spacing-double);
                                                               height: var(--spacing-double); }
.comment-author { font-weight: bold; }
